@model IEnumerable<VivaRegistry.Models.Application>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>Details</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ApplicationId }, new { @class = "btn btn-primary"})
        </td>
    </tr>
}

</table>
@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })